body {
  background-color: #f3f3f3;
}

.container{
  width: 860px;
  height: 96vh;
  margin: 0 auto;
  padding: 10px 50px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container label{
  font-size: 30px;
  font-weight: 800;
  font-family: cursive;
}

#duration{
  font-size: 35px;
  width: 80px;
  border: 3px solid;
  border-radius: 20px;
  font-weight: 700;
  text-align: center;
}

#game-container{
  width: 1000px;
  height: 1000px;
  border: 5px solid #000;
  border-radius: 15px;
  background-color: #fff;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative
}

#startGameBtn{
  font-weight: 800;
  font-family: cursive;
  color: white;
  background-color: red;
  font-size: 50px;
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.3s;
  border: 1px solid black;

}
#startGameBtn:hover{
  background-color: rgb(212, 1, 1);
  font-size: 45px;
  border: 5px solid black;
}

#score, #timer{
  font-size: 30px;
  font-weight: 800;
  margin-right: 40px;
}

.circle{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: red;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
  &:hover {
    background-color: crimson;
  }
}

h2 {
  text-align: center;
}